@tailwind base;
@tailwind components;
@tailwind utilities;

.details-container {
  container-type: inline-size;
  width: 100%;
}

.details-card {
  display: flex;
  flex-direction: column;
}

@container (min-width: 600px) {
  .details-card {
    flex-direction: row;
  }
}
